## 1 - Number Types

### 1.1 Innteger

In [1]:
num1 = 5
num2 = -7
num3 = 0

print("num1:",num1, type(num1))
print("num2:",num2, type(num2))
print("num3:",num3, type(num3))

num1: 5 <class 'int'>
num2: -7 <class 'int'>
num3: 0 <class 'int'>

### 1.2 Floats

In [2]:
pi = 5.4323001
small_float = -0.001
exp_float = 1.5e2 #150.0 in decimal 


print("pi:",pi,type(pi))
print("small_float:",small_float,type(small_float))
print("exp_float:",exp_float,type(exp_float))

pi: 5.4323001 <class 'float'>
small_float: -0.001 <class 'float'>
exp_float: 150.0 <class 'float'>

### 1.3 String

In [3]:
greeting = "Hello Python"
quote = 'I can also use single quote'
multiline_text = """This is a multi_line string"""

print("greeting:",greeting,type(greeting))
print("quote:",quote,type(quote))
print("multiline_text:",multiline_text,type(multiline_text))

greeting: Hello Python <class 'str'>
quote: I can also use single quote <class 'str'>
multiline_text: This is a multi_line string <class 'str'>

### String Operatinos

In [4]:
# Concatenation
first_name = "Noor Ul"
last_name = "Huda"

full_name = first_name + " " + last_name 
print("full_name:",full_name, type(full_name))

full_name: Noor Ul Huda <class 'str'>

In [5]:
# Repetation
huda_3times = "huda" * 3
print("repetation:", huda_3times, type(huda_3times))

repetation: hudahudahuda <class 'str'>

In [6]:
# Indexing and Sclicing

first_char = greeting[0]
substracting = greeting[0:5]

print("substracting:",substracting, type(substracting))

substracting: Hello <class 'str'>

In [7]:
empty_list = []
numbers = [10,20,30,40]
mixed_list = ["Hello", 3.14, True, 5]

print("Empty List:", empty_list)
print("Numbers", numbers)
print("Mixed List:", mixed_list)

Empty List: []
Numbers [10, 20, 30, 40]
Mixed List: ['Hello', 3.14, True, 5]

In [8]:
first_num = numbers[0]
last_num = numbers[-4]
last_num1 = numbers[-3]

print("First Number:", first_num)
print("Last Number:", last_num)
print("Last Number:", last_num1)

First Number: 10
Last Number: 10
Last Number: 20

### f-strings

Formatted string is introduced in (python 3.6+)

In [9]:
# Example 
name = "Noor Ul Huda"
age = 20
print(f"My name is {name} and I'm {age} years old.")

My name is Noor Ul Huda and I'm 20 years old.

In [10]:
print(F"Next Year, I will be {age + 1}") # We can use f or F

Next Year, I will be 21

#### Key Points

- f-string start with f or F.
- Use variables and expressions in {curly bracket}.
- We can also add calculations of variables in {}.

### 1.4 Boolen

In [11]:
is_python_easy = True
like_tea = False

print("Is Python easy?:",is_python_easy, type(is_python_easy))
print("Like Tea?", like_tea, type(like_tea))

Is Python easy?: True <class 'bool'>
Like Tea? False <class 'bool'>

In [12]:
# instead of if_is_python_easy == True:
# DO this!
if is_python_easy: 
    print("Yes, Python is easy") # if this contains TRUE, so the condition will print, 
                                # and if it's FALSE, this condition will not print.

Yes, Python is easy

keep boolen numbers purely boolen. Although TRUE behaves like 1 and FALSE like 0, but it makes codes less 
less clear.

### 1.5 Non-Type

In [13]:
Nothing_here = None
print("Nothing_here:",Nothing_here,type(Nothing_here))

Nothing_here: None <class 'NoneType'>

In [14]:
if Nothing_here is None:
    print("This variable has no value.")

This variable has no value.

In [15]:
if Nothing_here is None:
    print("This variable has no value.")

This variable has no value.

## Collections

### 1- List

In [16]:
# creating variables from different ways
empty_list = []
numbers_list = [20, 30, 40, 50]
mixed_list = [20, 50.7, "Hello!", True]

print("empty_list", empty_list, type(empty_list))
print("numbers_list", numbers_list, type(numbers_list))
print("mixed_list", mixed_list, type(mixed_list))

empty_list [] <class 'list'>
numbers_list [20, 30, 40, 50] <class 'list'>
mixed_list [20, 50.7, 'Hello!', True] <class 'list'>

In [17]:
# acessing values from index
first_num = mixed_list[2]
last_num = mixed_list[-4]

print("first_num:",first_num,type(first_num))
print("last_num:",last_num,type(last_num))

first_num: Hello! <class 'str'>
last_num: 20 <class 'int'>

#### Adding, Removing and Modifying Elements

In [18]:
# Adding Elements

numbers_list.append(50) #to add value in the end of list
numbers_list.insert(3, 15) #insert 15 at 2nd index

In [19]:
print(numbers_list)

[20, 30, 40, 15, 50, 50]

In [20]:
removed_items = numbers_list.pop() # to remove the last number from the list.
print(numbers_list)

[20, 30, 40, 15, 50]

In [21]:
numbers_list.remove(40) # to remove the vaue by direct number.
numbers_list

[20, 30, 15, 50]

In [22]:
numbers_list[1] = 25 #add  element of 25 at index 1.
numbers_list

[20, 25, 15, 50]

### 2- Tuple

In [25]:
# creating Tuple
empty_list_tuple = ()
single_element_tuple = (42,)
mixed_element_tuple = ("Huda",4.5,10,True)

print("empty_list_tuple:",empty_list_tuple)
print("single_element_tuple:",single_element_tuple)
print("mixed_element_tuple:",mixed_element_tuple)

empty_list_tuple: ()
single_element_tuple: (42,)
mixed_element_tuple: ('Huda', 4.5, 10, True)

In [27]:
# accessing elements by tuple
numbers_tuple = (1, 2, 45, 55, 65, 75)
first_num = numbers_tuple[0]
print(first_num)

1

In [28]:
# Slicing Work similarly to list
sub_tuple = numbers_tuple[1:]
print("numbers_tuple:",numbers_tuple)

numbers_tuple: (1, 2, 45, 55, 65, 75)

#### Immutability

In [29]:
# try to modity a tuple will raise an error.
try:
    numbers_tuple[1] = 99
except TypeError as e:
    print("Error",e)

Error 'tuple' object does not support item assignment

In [30]:
# Unpacking a tuple into seprate variables.
person_tuple = ("Noor", 30, "SEO Executive")
Name, Age, Job = person_tuple

print("Name:", name)
print("Age:", Age)
print("Job:", Job)

Name: Noor Ul Huda
Age: 30
Job: SEO Executive

### 3- Dictionary

In [87]:
# basic operations 
empty_dict = {}
personal_dict = {"Name":"Alice", "Father Name" : "Shafaqat Ali", "Age":30}
another_dict = dict(City="New Jesary", Country="USA")

print("empty_dict:", empty_dict)
print("personal_dict:", personal_dict)
print("another_dict:", another_dict)

empty_dict: {}
personal_dict: {'Name': 'Alice', 'Father Name': 'Shafaqat Ali', 'Age': 30}
another_dict: {'City': 'New Jesary', 'Country': 'USA'}

In [81]:
# accessing values by keys
print(personal_dict["Name"])

Alice

In [82]:
# .get function
print("Age:", personal_dict.get("Age"))   # this function is safer because if there is no value so it returns none. It's better for error/ code handling.

Age: 30

In [83]:
print("Father Name:", personal_dict.get("Father Name"))

Father Name: Shafaqat Ali

In [84]:
# adding and updating key_value_pair
personal_dict["Specialization"] = ("Digital Marketing")
print(personal_dict)

{'Name': 'Alice', 'Father Name': 'Shafaqat Ali', 'Age': 30, 'Specialization': 'Digital Marketing'}

In [88]:
# removing key_pair
removed_value = personal_dict.pop("Age")
print("removed_value:", removed_value)
#print(personal_dict)

# checking if a key exist 
if Name in personal_dict:
    print("Name key is present.")

removed_value: 30

### 4- Set

In [93]:
# creating set
emppty_set = set()
numbers_set = {20, 21, 23, 22, 23, 20}
mixed_set = {'apple', 44, 'Yoyo', 54, 44}

print("Emppty_Set",emppty_set, type(emppty_set))
print("Numbers_set",numbers_set, type(numbers_set))
print("Mixed_set",mixed_set, type(mixed_set))

Emppty_Set set() <class 'set'>
Numbers_set {20, 21, 22, 23} <class 'set'>
Mixed_set {'Yoyo', 'apple', 54, 44} <class 'set'>

In [95]:
# adding and removing values

numbers_set.add(2) # for adding 2 in the set
numbers_set.discard(20) # for removing specific value from the set.

print("Updated Set:", numbers_set)

Updated Set: {2, 21, 22, 23}

Set also support some mathamatical operations like union, intersention, difference and symmetric.

In [100]:
set_a = {2, 4, 6, 8, 10}
set_b = {1, 3, 5, 7, 11}

Union = set_a.union(set_b)
Intersection = set_a.intersection(set_b)
Difference = set_a.difference(set_b)
Symmetric = set_a.symmetric_difference(set_b)


print("Union:", Union)
print("Intersection:", Intersection)
print("Difference:", Difference)
print("Symmetric:", Symmetric)

Union: {1, 2, 3, 4, 5, 6, 7, 8, 10, 11}
Intersection: set()
Difference: {2, 4, 6, 8, 10}
Symmetric: {1, 2, 3, 4, 5, 6, 7, 8, 10, 11}